amqp
asgiref
async-timeout
billiard
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
coverage
cron-descriptor
Django
django-celery-beat
django-cors-headers
django-filter
django-timezone-field
djangorestframework
djangorestframework-simplejwt
dnspython
drf-yasg
eventlet
gevent
greenlet
idna
inflection
kombu
packaging
Pillow
prompt-toolkit
psycopg2
psycopg2-binary
pycparser
PyJWT
python-crontab
python-dateutil
python-dotenv
pytz
PyYAML
redis
requests
six
sqlparse
stripe
typing_extensions
tzdata
uritemplate
urllib3
vine
wcwidth
zope.event
zope.interface